@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');


@keyframes backgroundimgae {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}
.hidden {
    display: none !important;
}

* {
    box-sizing: border-box;   
}

img {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

body {
    animation: backgroundimgae 1s ease-in-out;
    height: 100vh;
    width:  100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    font-family: 'Baloo Tamma 2', 'Nanum Pen Script',  'Noto Sans KR', cursive;
    margin: 0px;
}

.loginBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    font-family: "Montserrat", "Noto Sans KR", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login p {
    position: relative;
    color: #fff;
    text-align: center;
    opacity: 0;
    margin: 5px;
    animation: slide 1s ease-in-out 1s forwards;
}

.login p:nth-child(1) {
    font-size: 32px;
}

@keyframes slide {
    0% {
        opacity: 0;
        bottom: -20px;
    }
    100% {
        opacity: 1;
        bottom: 0;
    }
}

.login input {
    background-color: transparent;
    border: 0;
    outline: 0;
    width: 270px;
    height: 40px;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-top: 30px;
    color: #fff;
    opacity: 0;
    animation-name: inputShow;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    border-bottom: 2px solid #ffffff;
    cursor: initial;
    padding-bottom: 5px;
    cursor: default;
}

@keyframes inputShow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        
    }
}

.main {
    width: 800px;
    height: 800px;
    border: 10px solid black;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 300px;
    align-items: center;
    background-color: rgba(125, 125, 125, 0.4);
    z-index: 1000;
}

#clock {
    font-size: 120px;
    color: white;
}

#greeting {
    position: absolute;
    font-size: 50px;
    top: 10px;
    left: 50px;
    color: white;
}

#todo-form {
    position: absolute;
    font-size: 30px;
    top: 150px;
    left: 50px;
    
   
}

.left-nav {
    width: 500px;
    min-height: 100vh;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 70px 50px;
    overflow: auto;
    z-index: 10000;
}

.left-nav::-webkit-scrollbar {
    width: 12px;
}
.left-nav::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
    box-shadow: 0px 0px 3px -2px #d7d7d7;
}
.left-nav::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}

#todo-form input {
    border-radius: 50px;
    width: 400px;
    height: 40px;
    text-align: center;

    
}

#todo-form input:focus {
    outline: none;
}

#todo-list { 
    position: absolute;
    font-size: 22px;
    top: 240px;
    left: 50px;
    font-weight: 800;
    color: whitesmoke;
}

li {
    margin-top: 10px;
}

#todo-head{
    position: absolute;
    font-size: 40px;
    top: 120px;
    left: 50px;
    color: whitesmoke;
    font-weight: 1000;
}

#quote {
    font-size: 20px;
    color: aliceblue;
    width: 500px;
    align-items: center;
}

#weather {
    position: absolute;
    font-size: 40px;
    top: 50px;
    right: 50px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#login-form {
    position: absolute;
    font-size: 50px;
    top: 10px;
    left: 50px;
    z-index: 1000;
}

#login-form input {
    border-radius: 50px;
    width: 400px;
    height: 40px;
    text-align: center;
    border: 1px solid white;
}

#login-form button{
    height: 60px;
    width: 60px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 50%;
}

#login-form input:focus {
    outline: none;
}

.initBtnBox {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 1000;
}

.initBtnBox > span {
    color: #fff;
    font-size: 40px;
    text-shadow: 1px 1px 5px #000000;
    cursor: pointer;
}



#bg {
    width: 100%;
    height: 100vh;
    display: block;
    object-fit: cover;
    object-position: center;
}



.music {
    font-size: var(--fontsize-m);
    position: fixed;
    z-index: 999999;
    width: 60px;
    height: 60px;
    background-color:#0c2e2b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: var(--space-xl);
    border-radius: 50% 0 0 50%;
    transition: 0.15s ease-in-out;
    cursor: pointer;
  }
  .fa-music{
  margin-right: 30px;
  }
  .fa-pause{
    margin-right: 30px;
  }
  .music:hover .fa-music {
    animation: shake 1s;
    animation-iteration-count: infinite;
  }
  
  .music:hover {
    opacity: 1;
    transform: translateY(2px);
  }
  
  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }
  /* --------------------------------------- */
  
  li {
  list-style-type: none;
  }